.footer-top {
    background-color: #1b1b1b;
    padding: 45px 0 55px 0;
    position: relative;
    .wrapper {
        display: flex;
        justify-content: space-around;
    }
    // Arranging Three Boxes in a Row
    .box {
        display: flex;
        p {
            margin: 10px 0;
        }
    }
    // Sizing Location Image in Box 1
    .box1 img {
        width: 50px;
        height: 50px;
        margin: auto 0;
        margin-right: 35px;
    }
    // Adding Style Lines Around Box 2 as :before and :after elements
    .box2 {
        position: relative;
        & .text:before {
        content: '';
        background:  rgba(88, 88, 88, 0.58);
        height: 68px;
        width: 1px;
        position: absolute;
        top: 0;
        left: -50%;
        }
        & .text:after {
            content: '';
            background:  rgba(88, 88, 88, 0.58);
            height: 68px;
            width: 1px;
            position: absolute;
            top: 0;
            right: -50%;
        }
    }
    // Styling FontAwesome Icons in Box 2 and 3
    .box2 svg,
    .box3 svg {
        color: $white;
        background: rgba(88, 88, 88, 0.58);
        width: 45px;
        height: 45px;
        padding: 12px;
        border-radius: 50%;
        font-size: 20px;
        margin: auto 0;
        margin-right: 35px;
    }
    // Adding Black Triangle at Bottom of Footer Top Section
    &:before {
        content: '';
        border-left: 25px solid transparent; 
        border-right: 25px solid transparent; 
        border-bottom: 25px solid #100f0f;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    // Styling FontAwesone Arrow Icon at bottom of Footer Top Section
    svg.fa-angle-up {
        color: white;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

// Styling Main Section of Footer
.footer-main {
    background-color: #100f0f;
    text-align: center;
    padding: 40px 0 70px 0;
    // Styling Navigation in Footer
    nav {
        position: relative;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 10px;
        li {
            padding: 12px;
            margin: 0 13px 30px 13px;
            &:hover {
                color: $white;
            }
            // Removing Margin from First List Item
            &:first-of-type {
                margin-left: 0;
                padding-left: 0;
            }
        }
        // Adding Stylistic Line Under Navigation
        &:after {
            content: '';
            background: #1b1b1b;
            width: 613px;
            height: 1px;
            position: absolute;
            top: 60px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    // Changing Span color to pink
    p span {
        color: $pink;
    }
}

@media (max-width: 1000px) {
    // Responsive: Moving style lines closer to middle
    .footer-top .box2 .text:before {
        left: -20%;
    }
    .footer-top .box2 .text:after {
        right: -20%;
    }
    // Wrapping List Items
    footer .wrapper {
        flex-wrap: wrap;
    }
}

@media (max-width: 890px) {
    // Responsive: Removing Style Lines
    .footer-top .box2 .text:before {
        display: none;
    }
    .footer-top .box2 .text:after {
        display: none;
    }
    // Responsive: Stacking 3 boxes instead of having row
    footer .wrapper {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        .box {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(88, 88, 88, 0.58);
        }
    }
}