.footer-top {
    background-color: #1b1b1b;
    padding: 45px 0 55px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .box {
        display: flex;
        width: 33.3%;
        p {
            margin: 10px 0;
        }
    }
    .box1 img {
        width: 50px;
        height: 50px;
        margin: auto 0;
        margin-right: 35px;
    }
    svg {
        color: $white;
        background: #2f2f2f;
        border-radius: 50%;
        font-size: 20px;
        margin: auto 0;
        margin-right: 35px;
    }
    
}
.footer-main {
    background-color: #100f0f;
    text-align: center;
    padding: 40px 0 70px 0;
    nav {
        position: relative;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        li {
            padding: 12px;
            margin: 0 13px 30px 13px;
            &:hover {
                color: $white;
            }
            &:first-of-type {
                margin-left: 0;
                padding-left: 0;;
            }
        }
        &:after {
            content: '';
            background: #1b1b1b;
            width: 613px;
            height: 1px;
            position: absolute;
            top: 60px;
            left: 50%;
            transform: translateX(-50%);
            
        }
    }
    p span {
        color: $pink;
    }
}