header {
    background: url(../images/main-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 240px;
}
//  Styling Main Navigation w/out Media Queries
.main-nav {
    display: flex;
    padding: 10px 0 0 0;
    position: relative;
    // Top Stylistic Line
    &::before {
    content: "";
    background: rgba(255, 255, 255, 0.22);
    width: 100%;
    height: 1px; 
    position: absolute;
    top: 100px;
    }
    // Bottom Stylistic Line
    &::after {
    content: "";
    background: rgba(255, 255, 255, 0.22);
    width: 100%;
    height: 1px; 
    position: absolute;
    top: 103px;
    }
    // Hiding Hamburger Menu Icon
    .hamburger-menu {
        display: none;
    }
    // Styling Main Nav List & List Items
    &__list {
        display: flex;
        padding: 0;
        margin: auto 0;
        list-style: none;
        width: 100%;
        height: 20px;
        justify-content: flex-end;
        &__list-item a {
            text-decoration: none;
            padding: 8px 12px;
            margin: 0 10px;
            transition: all 0.3s;
            &:hover {
            outline: 1px dashed $grey;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 3px;
            }
        }
        // Styling Search Button
        &__link {
            background: $pink;
            color: white;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            margin: -10px 15px 0 0;
            // Styling Magnifying Icon
            svg {
                font-size: 18px;
                margin: 12px 0 0 12px;
            }
        }
    }
}

// Styling Header Text
.header-main {
    text-align: center;
    padding-top:200px;
    // Styling Microphone Icon
    svg {
        color: white;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .header__paragraph {
        margin: 0 0 10px 0;
    }
    .header-h1 {
        text-transform: uppercase;
        margin: 0;
        &:last-of-type {
            margin-bottom: 55px;
        }
    }
    // Styling Button
    .button--pink {
        padding: 20px 60px;
    }
}

// Hiding Hamburger Icon and Popout Nav
input#toggle,
.hamburger-nav__list {
    right: -30%;
    display: none;
}

// Instructions for Nav when clicking Hamburger Menu
input#toggle:checked {
    & + nav .hamburger-nav__list{
        transform: translatex(-100%);
        display: block;
    }
    & + nav svg {
        margin-right: 250px;
    }
}

// Reponsive: Making Main Nav Text Shrink
@media (max-width: 1050px) {
    .main-nav__list__list-item a {
        padding: 4px 8px;
        font-size: 12px;
    }
    .main-nav__list__list-item__link {
        width: 33px;
        height: 33px;
        margin: -5px;
        svg {
            margin: 10px 0 0 10px;
            font-size: 12px;
        }
    }
}

// Responsive: Styling Hamburger Menu + Hiding Main Nav
@media (max-width: 880px) {
    // Reduce Padding on Header
    header {
        padding-bottom: 140px; 
    }
    // Hiding Main Navigation
    header .main-nav .main-nav__list {
        display: none;
    }
    // Hiding Style Lines
    header .main-nav:before,
    header .main-nav:after {
        display: none;
    }
    // Displaying and Styling Hamburger Icon
    header .main-nav .hamburger-menu {
        color: white;
        font-size: 40px;
        display: block;
        position: absolute;
        right: 25px;
        top: 25px;
        transition: all 0.3s;
    }
    // Displaying and Styling Hamburger Navigation
    header .main-nav .hamburger-nav__list {
        display: none;
        list-style: none;
        background: rgba(0,0,0,1);
        margin: 0;
        padding: 0;
        width: 30%;
        position: absolute;
        top: 20px;
        // right: -100%;
        transition: all 0.3s;
        li {
            padding: 15px 25px;
            text-align: center;
            border: 1px solid $purple;
            a {
            color: white;
            text-decoration: none;
            }
        }
    }
    // Responsive: Shrinking Header Main Text and Padding
    .header__paragraph {
        font-size: 15px;
    }
    .header-h1 {
        font-size: 30px;
    }
    .header-main {
        padding-top: 120px;;
    }
}
    