header {
    background: url(../../images/main-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
    padding-bottom: 240px;
}

.main-nav {
    display: flex;
    padding: 10px 0 0 0;
    position: relative;
    &::before {
    content: "";
    background: rgba(255, 255, 255, 0.22);
    width: 100%;
    height: 1px; 
    position: absolute;
    top: 100px;
    }
    &::after {
    content: "";
    background: rgba(255, 255, 255, 0.22);
    width: 100%;
    height: 1px; 
    position: absolute;
    top: 103px;
    }
   
    
    // Responsive: Styling Hamburger Menu + Hiding Main Nav
    @media (max-width: 860px) {
        .main-nav__list {
            display: none;
        }
        &::before,
        &::after {
            display: none;
        }
        .hamburger-menu {
            color: white;
            font-size: 40px;
            display: block;
            position: absolute;
            right: 25px;
            top: 25px;
            transition: all 0.3s;
        }
        .hamburger-nav__list {
            display: block;
            list-style: none;
            background: rgba(0,0,0,0.7);
            margin: 0;
            padding: 0;
            width: 30%;
            position: absolute;
            top: 20px;
            right: -100%;
            transition: all 0.3s;
            li {
                padding: 15px 25px;
                text-align: center;
                border: 1px solid $purple;
                a {
                color: white;
                text-decoration: none;
                }
            }
        }
    }
    // Styling Main Nav List
    &__list {
        display: flex;
        padding: 0;
        margin: auto 0;
        list-style: none;
        width: 100%;
        height: 20px;
        justify-content: flex-end;
        &__list-item a {
            text-decoration: none;
            padding: 8px 12px;
            margin: 0 10px;
            transition: all 0.3s;
            &:hover {
            outline: 1px dashed $grey;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 3px;
            }
        }
        &__link {
            background: $pink;
            color: white;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            margin-top: -10px;
            svg {
                font-size: 18px;
                margin: 12px 0 0 12px;
            }
        }
        // Reponsive: Making Main Nav Text Shrink
        @media (max-width: 1050px) {
            &__list-item a {
                padding: 4px 8px;
                font-size: 12px;
            }
            &__link {
                width: 33px;
                height: 33px;
                margin: -5px;
                svg {
                    margin: 10px 0 0 10px;
                    font-size: 12px;
                }
            }
        }

    }
}

// Styling Header Text
.header-main {
    text-align: center;
    padding-top: 200px;
    svg {
        color: white;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .header__paragraph {
        margin: 0 0 10px 0;
    }
    .header-h1 {
        text-transform: uppercase;
        margin: 0;
        &:last-of-type {
            margin-bottom: 55px;
        }
    }
    .button--pink {
        padding: 20px 60px;
    }
    // Responsive: Shrinking Header Main Text
    @media (max-width: 850px) {
        .header__paragraph {
            font-size: 15px;
        }
        .header-h1 {
            font-size: 30px;
        }
    }
}

// Hiding Hamburger Icon and Popout Nav
input#toggle,
.hamburger-nav__list {
	display: none;
}

// Instructions for Nav when clicking Hamburger Menu
input#toggle:checked {
    & + nav .hamburger-nav__list{
        right: 20px;
    }
    & + nav svg {
        margin-right: 250px;
    }
}


