.section8 {
    .box-container {
        margin-top: 70px;
        .section__row1,
        .section__row2 {
            display: flex;
        }
        .section__row1 {
            margin-bottom: 2%;
        }
        img {
            display: block;
        }
        .box {
            height: 300px;
            max-width: 370px;
            position: relative;
            .section__paragraph--large {
                margin: 0 0 5px 0;
                padding-top: 35px;
            }
            .section__paragraph--light {
                margin: 0 0 60px 0;
            }
            .section__paragraph--dark {
                margin: 0 0 40px 0;
            }
           
        }
        .box2,
        .box5 {
            margin: 0 2%;
        }
        .box2, 
        .box4,
        .box6 {
            background: #fafafa;
            padding-left: 20px;;
             &:after {
                content: '';
                background: $grey;
                height: 1px;
                width: 80px;
                position: absolute;
                top: 120px;
                left: 20px;
            }
        }
        .box5 {
            .facebook {
                background: red;
                margin-bottom: 100px;
                width: 100%;
            }
            .button {
                
            }
        }
    }

        
}
