.section9 {
    margin-top: 105px;
    background: #fafafa;
    text-align: center;
    padding: 105px 0;
    h2 {
        margin: 0 0 25px 0;
    }
    
    input[type=email],
    input[type=submit] {
        border-radius: 5px;
        border: none;
        height: 48px;
    }
    input[type=email] {
        width: 621px;
        margin-right: 5px;
        padding-left: 25px;
    }
    input[type=submit] {
        width: 160px;
        margin-left: 5px;
    }
}

@media (max-width: 900px) {
    .section9 .wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
    .section9 {
        padding: 60px;
        input[type=email] {
            width: 60%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        input[type=submit] {
            width: 30%;
            margin: 0 auto;
            padding: 0 ;
            position: relative;
            left: -10px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
