.section1 {
    background-color: #fafafa;
    padding: 80px 0 85px 0;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.03);
    .wrapper {
        display: flex;
    }
    & p {
        margin: 0;
    }
    .section__paragraph--small {
        margin-bottom: 15px;
    }
    .section__paragraph--large {
        line-height: 32px;
    }
    .section1-middle {
        display: flex;
        margin: 0 auto;
        .time-container {
            position: relative;
            .time {
                display: flex;
                margin-right: 10px;
                .section__paragraph--numbers {
                    background: $black;
                    margin-right: 2px;
                    border-radius: 3px;
                    padding: 6px 15px;
                    height: 45px;
                }
                // Adding Colons Between Time Boxes
                &:after {
                    content: ':';
                    position: absolute;
                    right: 4px;
                    top: 10px;
                }
            }
            // Removing Colon From Seconds Time Box
            .time4:after {
                content: '';
            }
        }
    }
    .section1-right {
        display: flex;
        // Styling Buttons
        .button {
            height: 52px;
            padding: 15px 50px;
            // Moving Purple Button Over
            &--pink {
                margin-left: 15px;
            }
        }
    }
}

@media (max-width: 1070px) {
    // Responsive: Reduce Padding On Entire Section
    .section1 {
        padding: 50px 0;
    }
    // Shrink numbers in black boxes
    .section1 .section1-middle .time-container .time .section__paragraph--numbers {
    padding: 0px 10px;
    height: 28px;
    font-weight: 500;
    margin-top: 20px;
    }
    // Shrink buttons
    .section1 .section1-right .button {
        padding: 9px 30px;
        height: 40px;
        margin-top: 20px;;
    }
    // Shrink Rest of Text
    .section1 .section__paragraph--large {
        font-size: 30px;
    }
    .section1 .section__paragraph--small {
        font-size: 12px;
    }
    .section1 .section1-middle .time-container .time:after {
        right: 4px;
        top: 20px;
    }
}

@media (max-width: 940px) {
    // Resize Wrapper and Center
    .section1 .wrapper {
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;
        // Center All Text
        & .section1-left {
            text-align: center;
        }
        & .section1-right {
            justify-content: center;
        }
    }

}
