.section2 {
    // Adding Padding to Title Section
    .section__title {
        padding: 145px 0 0 0;
        position: relative;
        // Removing Margin from Title Texts
        .section__h2--dark {
            margin: 0;
        }
        .section__paragraph--italic {
            margin: 0;
        }
        // Adding Pink Style Line Under Title
        .section__paragraph--italic:after {
            content: '';
            background-color: $pink;
            height: 1px;
            width: 65px;
            position: absolute;
            bottom: -35px;
            left: 50%;
            transform: translatex(-50%);
        }
    }
    // Arranging Boxes in a row
    .section__boxes {
        display: flex;
        padding-top: 85px;
        // Adding box shadow and margin to boxes
        .box {
            box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
            margin-right: 30px;
        }
        // Removing margin from third box
        .box3 {
            margin-right: 0;
        }
        // Removing white space from images
        & img {
            display: block;
            width: 100%;
        }
        // Styling header text within boxes
        .section__paragraph--large {
            text-transform: uppercase;
            margin: 0;
        }
        // Adding padding to box test
        .box-text {
            padding: 40px;
            a {
                text-decoration: none;
                &:hover {
                    color: $purple;
                }
            }
        }
        .box:hover {
            box-shadow: 0px 1px 3px;
        }
    }
}

@media (max-width: 1150px) {
    // Shrink Image when screen being resized
    .section2 .section__boxes .box {
        img {
            max-width: 300px;
        }
        .box-text {
            padding: 10px;
        }
    }
}

@media (max-width: 980px) {
    // Rearrange boxes in a Column formation
    .section2 .section__boxes {
        flex-direction: column;
        // Fixing margins for smaller screen
        .box {
            margin: 0 10px 30px 10px;
            img {
                max-width: 366px;
                margin: 0 auto;
            }
            .box-text {
                padding: 20px;
            }
        }
    }
    // Responsive: Shrink Padding On Title 
    .section2 .section__title {
        padding-top: 80px;
    }
    // Resizing Wrapper for Responsiveness
    .section2.wrapper {
        margin: 0 auto;
        text-align: center;
    }       
}