.section8 {
    padding-top: 115px;
    .section__h2--dark {
        margin: 0;
    }
    .section__paragraph--italic {
        margin: 0;
        position: relative;
        &:after {
            content: '';
            background-color: red;
            width: 65px;
            height: 1px;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .box-container {
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        img {
            display: block;
        }
        .box {
            position: relative;
            max-width: 370px;
            margin: 10px;
            
            // Styling Text Within Boxes
            .section__paragraph--large {
                margin: 0 0 5px 0;
                padding-top: 35px;
            }
            .section__paragraph--light {
                margin: 0 0 60px 0;
            }
            .section__paragraph--dark {
                margin: 0 0 40px 0;
            }
           
        }
        // Additional Styling For Boxes With Text
        .box2, 
        .box4,
        .box6 {
            background: #fafafa;
            padding: 0 0px 50px 20px;
            // Stylistic Pseudo Lines
             &:after {
                content: '';
                background: $grey;
                height: 1px;
                width: 80px;
                position: absolute;
                top: 120px;
                left: 20px;
            }
        }
        .box2:hover,
        .box4:hover,
        .box6:hover {
            box-shadow: 0px 0px 2px;
        }
        // Styling Facebook Box
        .box5 {
            width: 100%;
            // Styling Top Section Of Box
            .top {
                background-color: $purple;
                height: 140px;
                width: 360px;
                text-align: center;
                padding-top: 15%;
            }
            //  Styling Text in Top Section Of Box
            .facebook {
                color: white;
                text-decoration: none;
            }
            // Styling Bottom Section of Box
            .bottom {
                margin-top: 95px;
            }
        }
    }        
}

@media (max-width:1190px) {
    .section8 .box-container .column1,
    .section8 .box-container .column2,
    .section8 .box-container .column3 {
        display: flex;
        margin: auto;
    }
    .section8.wrapper {
        margin: 0 auto;
    }
}

@media (max-width: 730px) {
    .section8 .box-container .column1,
    .section8 .box-container .column2,
    .section8 .box-container .column3 {
        flex-direction: column;
    }
}

