.section6 {
    background: #fafafa;
    .wrapper {
        padding-top: 165px;
        position: relative; /* For section__title:after  */
    }
    // Removing Margin From Text
    .section__h2--dark {
        margin: 0;
    }
    .section__paragraph--italic {
        margin: 0;
    }
    // Adding Style Pink Line
    .section__title:after {
        content: '';
            background: $pink;
            width: 63px;
            height: 1px;
            position: absolute;
            top: 280px;
            left: 50%;
            transform: translateX(-50%);
    }

    // Arranging Aside and Container In A Row and Adding Top Margin
    .section6-container {
        display: flex;
        margin-top: 95px;
        // Sizing Aside
        // Sizing Aside
        aside {
            width: 24%;
            margin-right: 30px;
            // Styling List Within Aside
            ul {
                margin-top: 50px;
                list-style: none;
                background: white;
                border: 1px solid #ececec;
                padding: 0px;
                // Styline Text and Adding Padding
                .aside__list__list-item__paragraph--small {
                    margin: 0;
                    color: #b7b7b7;
                    padding: 25px 0 0 20px;
                    font-weight: 300;
                    letter-spacing: -1px;
                }
                .aside__list__list-item--paragraph--large {
                    padding: 0 0 25px 20px;
                    margin: 0;
                }
                li {
                    position: relative;
                }
                // Adding Style Lines Under Each List Item
                li:after {
                    content: '';
                    background:#ececec;
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                // Hover Effect for List Items
                li:hover {
                    background: $pink;
                    color: white;
                }
            }
        }
        // Sizing Main Container
        .section6-main {
            width: 66%;
            margin: 0 auto;
            padding-left: 50px;
            border-left: 1px dashed $grey;
            // Arranging Items In A Row
            .box {
                display: flex;
                // Adding Margin to Text Container
                .text-container {
                    margin-left: 30px;
                    // Arranging top line of text in a row
                    .name-time-container {
                        display: flex;
                        // Adding left margin to time text
                        .section__paragraph--dark {
                            margin:0 0 0 20px;
                        }
                        // Removing margin from name text
                        .section__paragraph--bold {
                            margin: 0;
                        }
                    }
                    // Adding margin to second line of text
                    .section__paragraph--large {
                        margin: 15px 0;
                    }
                    // Add bottom margin to bottom line of text
                    .section__paragraph--light {
                        margin: 0 0 60px 0;
                    }
                }
                // Sizing Image
                img {
                    height: 110px;
                    width: 110px;
                    border-radius: 50%;
                    border: 8px solid #ececec;
                    position: relative;
                }
                .image-container {
                    position: relative;
                    // Style Dashed Lines Next To Each Image
                    &:before {
                        content: '';
                        border-bottom: 1px dashed $grey;
                        width: 50px;
                        position: absolute;
                        top: 25%;
                        left: -50px;
                    }
                    // Masks for Dashed Lines
                    .mask1,
                    .mask3 {
                        width: 10px;
                        height: 50px;
                        background-color: #fafafa;
                        position: absolute;
                        left: -55px;
                        z-index: 2;
                    }
                    .mask1 {
                        top: 0;
                    }
                    .mask3 {
                        bottom: 0;
                        height: 153px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    // Resizing masks to cover up right amount of border
    .section6 .section6-container .section6-main .box .image-container .mask1 {
        height:56px;
    }
    .section6 .section6-container .section6-main .box .image-container .mask3 {
        height: 168px;
    }
}

@media (max-width: 910px) {
    // Responsive: Removing style lines and masks next to each image
    .section6 .section6-container .section6-main .box .image-container .mask1,
    .section6 .section6-container .section6-main .box .image-container .mask3,
    .section6 .section6-container .section6-main .box .image-container:before {
        display: none;
    }
    // Responsive: Removing Border Left From Main Container
    .section6 .section6-container .section6-main {
        border: none;
        padding: 0 10px;
        margin: 0;
        width: 100%;
    }
    // Responsive: Removing padding top from wrapper
    .section6 .wrapper {
            padding-top: 80px;
    }
    // Responsive: Removing space between title and aside
    .section6 .section6-container {
            flex-direction: column;
            margin-top: 0px;
    }

    // Responsive: Making Aside Responsive
    .section6 .section6-container aside {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 50%;
        text-align: center;
        padding: 0;
        ul .aside__list__list-item--paragraph--large {
            padding: 5px 0 5px 0;
        }
        ul .aside__list__list-item__paragraph--small {
            padding: 10px 0 5px 0;
        }
    }
    // Moving Style Line To Account for Line Shift
    .section6 .section__title:after {
        top: 180px;
    }
}
// Moving Style Line To Account for Line Shift
@media (max-width: 620px) {
    .section6 .section__title:after {
        top: 210px;
    }
}
// Removing Style Line To Account for Line Shift at tiny screen sizes
@media (max-width: 325px) {
    .section6 .section__title:after {
        display: none;
    }
}
